.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.app-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

    @include breakpoint-up(md) {
        width: 12.5%;
    }
}